<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Szymon Rachuba</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="create" routerLinkActive="active" href="/create">
            Add Preson
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list-person" routerLinkActive="active" href="/list-person">
            View People
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>